.c-data-upload {
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  .modal-header {
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > h1 {
      text-align: left;
      font-size: 1.75rem;
      line-height: 1.5;
      font-weight: 700;
    }
    .close-modal-x-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .close-modal-x {
      transform: translateX(10px);
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      &:hover {
        opacity: 0.88;
      }
    }
  }
  > .instructions {
    width: 100%;
    p {
      margin-bottom: 10px;
    }

    ul {
      padding-left: 22px;
      margin-bottom: 12px;
    }

    li {
      margin-bottom: 8px;
    }

    a {
      color: #1ed760;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.2s ease;
    }

    a:hover {
      color: #18b84b; /* Slightly darker green on hover */
      text-decoration: underline;
    }
  }

  .spotify-button {
    background-color: #1ed760;
    padding: 12px 32px;
  }

  .spotify-button:hover {
    background-color: #18b84b;
    transform: skew(-5deg, 0deg);
  }

  .error-message {
    color: red;
    margin-top: 8px;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
