:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: dark;
  --font-color: rgba(255, 255, 255, 0.87);
  --bg-color: #000;

  color: var(--font-color);
  background-color: var(--bg-color);
}

.buttonify {
  background-color: rgb(109, 174, 247);
  color: #000;
  padding: 8px 24px;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}
